*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

textarea,
input {
    width: 100%;
}

.submittable {
    width: min(50vw, 210px);
    height: 40px;
    background-color: #F4CE14;
    color: black;
    font-weight: bolder;
    border-radius: 16px;
    border-style: solid;
    cursor: pointer;

}

select {
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1.2px solid #EDEFEE;
    margin-top: 5px;
}

input {
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1.2px solid #EDEFEE;
    margin-top: 5px;
}

.container h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

label {
    font-family: 'Karla';
    font-size: 18px;
    font-weight: 200;
    color:black;
    text-align: center;
}

.formhtml {
    height: 100vh;
    background-color: #495E57;
}

.container {
    margin-top: 50px;
    background-color: #EDEFEE;
    width: 95%;
    min-width: 380px;
    padding: 35px 50px;
    transform: translate(-50%,-50%);
    position: relative;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 20px 30px 25px rgba(0,0,0,0,15);
}

form {
    width: 100%;
    position: relative;
    margin: 30px auto 0 auto;
}

.row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 20px 30px;
    margin-bottom: 20px;
}