.chef {
    border: #F4CE14 solid 2px;
}
.restaurant {
    border: #F4CE14 solid 2px;
}
.chef2 {
    grid-column: 4 / -1;
    grid-row: 1;
}
.chef1 {
    grid-row: 1;
    grid-column: 1 / span 9;
    z-index: -1;
}

.actualstory {
    align-content: center;
    text-align: center;
}

.storyimages {
    position: relative;
}
.storysub {
    font-family: 'Markazi text';
    font-size: 30px;
    font-weight: medium;
    color: black;
    text-align: center;
}
.storyhead {
    font-family: 'Markazi text';
    font-size: 64px;
    font-weight: bold;
    color: #F4CE14;
    text-align: center;
}

.storytitles {
    text-align: center;

}

.story {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    font-size: 15px;
    font-weight: bold;
    color: black;
    text-align: left;
    font-family: 'Karla';
}

.chica {
  /*  background-color: #EDEFEE; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-left: 20px;
    padding-right: 20px;
    grid-area: chicago;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 150px;
    justify-content: center;
    justify-items: center;
    z-index: -2;
    grid-gap: 50px;
}