/*.divspecials{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    text-align: center;
    align-content: center;
    margin-bottom: 75px;
    margin-top: 100px;
    grid-gap: 50px;

}
*/
.divspecials h1 {

    font-family: 'Markazi text Medium'; 
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(50vw, 210px);
    height: 50px;
    background-color: #F4CE14;
    color: black;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 20px;
    border-style: solid;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

@media(max-width:320px ) {
    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: min(50vw, 210px);
        height: 40px;
        background-color: #F4CE14;
        color: black;
        font-size: 15px;
        font-weight: bolder;
        border-radius: 20px;
        border-style: solid;
        text-align: center;
        margin: auto;
        cursor: pointer;

    }

    .divspecials h1 {

        font-family: 'Markazi text Medium'; 
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
    }
    
}